.App{
  text-align: center;
}
.App .day{
    background: linear-gradient(to bottom, #ffc9a2, #ffdc94)
}
.App .teacher{
    background: linear-gradient(to right, #ffcf9e, #ffdc94);
}
.App .period{
  padding: 10px 0;
  background: #ffc9a2;
}
select{
  background: transparent;
  appearance: none;
}
.App .topSelect select{
  width: 20%;
  border: none;
  outline: none;
  margin: 0 15px;
  font-size: 15px;
  background: transparent;
  border-bottom: 2px solid #ff719f;
}
.App .topSelect button{
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
  background: #fff39d;
}

.App footer{
  color: #333;
  font-weight: 500;
  margin-top: 45px;
}
